POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db

DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=your_username
DOCKER_INFLUXDB_INIT_PASSWORD=your_password
DOCKER_INFLUXDB_INIT_ORG=your_org
DOCKER_INFLUXDB_INIT_BUCKET=your_bucket